
canvas {
    border-bottom: 0px solid lightgray;
    border-left: 0px solid lightgray;
    border-right: 0px solid lightgray;
    width: 100%;
    margin-top: 0;
    cursor: default;
}


.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 633px;
    margin: auto;
    border-bottom: 2px solid lightgray;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
}

.custom-file-upload > img,
button > img{
	padding:0.3rem;
	border-radius:2rem;
    color: black;
    background-color: black;

}